/* GROUP 8 ZEN GARDEN */

/* VARIABLES */
$primary-font: 'Scheherazade New', serif;
$secondary-font: 'Lato', sans-serif;  
$color-1: #111E6C; // Midnight Blue - Action color
$color-2: #000000; // Black
$color-3: #E60F0F; // Red
$color-4: #FFCA0A; // Sunglow
$color-5: #ffffff; // White
$color-6: #b1aeae; // Gray
$color-7: lime; // Gray

/* basic elements */
*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: $primary-font;
}

p{
    font-family: $secondary-font;
    font-size: 1.25em;
}

/* Start of SIDEBAR DESIGN */
#css-zen-garden{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before{
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(https://cdn.glitch.me/b93d8d41-c3b7-4c17-af1e-56433df0e7a0%2Ftemple.jpg?v=1635835247321);
        background-size: cover;
        opacity: 0.25;
    }
}

h1{
    text-align: center;
    font-size: 5em;
    padding: 1em;
    color: $color-1;
}

h3{
    font-size: 2em;

}

header >h2{
    font-size: 2.5em;
    padding: 0.5em;
    border-radius: 20px;
    width: 40%;
    color: $color-4;
    text-align: center;
    border: 2px solid red;
    margin-bottom: 0.25em;
}

.summary{
    width: 50%;
    margin-left: 1em;
}

header, .summary{
    margin-left: 1em;
}

.wrapper{
    border: 2px solid $color-2;
    border-radius: 15px;
    box-shadow: 0 25px 25px $color-2;
    padding: 1em;
    margin-left: 1em;
    width: 36%;
    background: linear-gradient($color-1, $color-3);
    margin-top: -150%;
}

.wrapper li{
    list-style: none;
    color: $color-4;
}

.wrapper a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: $secondary-font;
    color: $color-5;
}

.wrapper h3{
    font-size: 2em;
    color: $color-4;
    text-decoration: underline;
}

.design-selection, .design-archives{
    margin-bottom: 1.5em;
}
/* End of SIDEBAR DESIGN */


/* Start of CSS ZEN GARDEN MAIN */
.main{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1.2em;
    clear: both;
    overflow: hidden;
    padding: 1em;
}

.explanation, .participation, .requirements{ 
    grid-column: 2/3;
}

.benefits{ 
    grid-column: 1/2;
}

.preamble{
    border-radius: 0 50px;
    background: $color-6;
    padding: 1.5em;
    width: 58%;  
    margin-left: 41%;  
    
}

.explanation{
    background: $color-1;
    color: $color-5;
    padding: 2em;
    border-radius: 2em / 5em;
}

.participation{
    background: $color-4;
    padding: 4em;
    border-radius: 200px 20px;
}

.participation a{
    color: $color-2;
}

.benefits{
    background: $color-3;
    color: $color-5;
    border-radius: 20px 600px;
    padding: 10em;
}

.requirements{
    background: $color-7;
    padding: 3em;
    border-radius: 8em 1em 12em / 5em 8em;
}

footer{
    grid-column: 1/3;
    font-size: 2.5em;
    background-color: $color-2;
    padding: 1.5em;
    text-align: center;
    border-radius: 2em 1em 4em / 0.5em 3em;
}

footer a{
    color: $color-5;
}
/* End of CSS ZEN GARDEN MAIN */